<a class="card" routerLink="/profile/{{index}}" title="Click for more info">
  <div class="picture" [style.border-color]="'#'+unicorn.color">
    <img src="../../assets/images/unicorn_head.png" alt="Unicorn profile picture">
  </div>
  <h1 class="title">{{unicorn.name}} <span *ngIf="isMale" class="fa fa-mars"></span><span *ngIf="isFemale" class="fa fa-venus"></span><span *ngIf="isOther" class="fa fa-transgender"></span></h1>
  <p class="age">{{unicorn.age}} yo</p>
  <p class="actions">
    <span class="delete" (click)="deleteUnicorn(index)"><i class="fa fa-ban fa-2x" aria-hidden="true"></i></span>
  </p>
</a>