@import '../../assets/styles/variables';
.card {
  display: block;
  text-align: center;
  border: 2px solid $light;
  padding: 20px 10px;
  position: relative;
  background: $lighter;
  &:hover {
    & .title {
      color: $main-pink;
    }
    & .picture {
      border-color: $main-pink;
    }
    & .actions {
      display: flex;
    }
  }
}
.picture {
  margin: auto;
  width: 120px;
  height: 120px;
  border: 10px solid;
  border-radius: 50%;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
  &>img {
    width: 100%;
  }
}
.title {
  text-transform: capitalize;
  margin-bottom: 0;
}
.age {
  margin: 0;
}
.actions {
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  display: none;
}
.delete {
  color: red;
  cursor: pointer;
  position: relative;
  &:hover {
    &:after {
      content: 'Delete';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      animation: fadein 1s;
    }
  }
}
.more-info:hover {
  color: $main-pink;
  cursor: pointer;
  position: relative;
  &:after {
    content: 'Info';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    animation: fadein 1s;
  }
}