@import '../../assets/styles/variables';
.card {
  display: block;
  text-align: center;
  border: 2px solid $light;
  padding: 20px 10px;
  position: relative;
  background: $lighter;
  &:hover {
    & .title {
      color: $main-pink;
    }
    & .picture {
      border-color: $main-pink;
    }
    & .actions {
      display: flex;
    }
  }
}
.picture {
  margin: auto;
  width: 120px;
  height: 120px;
  border: 10px solid;
  border-radius: 50%;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
  &>img {
    width: 100%;
  }
}
.title {
  text-transform: capitalize;
  margin-bottom: 0;
}
.age {
  margin: 0;
}
.actions {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  & .fa {
    font-size: 1.5em;
  }
}
.delete {
  color: red;
  cursor: pointer;
  position: absolute;
  right: 5px;
  bottom: 0;
  &:hover {
    &:after {
      content: 'Delete';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      animation: fadein 1s;
    }
  }
}
.more-info {
  position: absolute;
  left: 5px;
  bottom: 0;
  cursor: pointer;
  &:hover {
    color: $main-pink;
    &:after {
      content: 'Info';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      animation: fadein 1s;
    }
  }
}