@import '../assets/styles/variables';
.flex-wrapper {
  display: flex;
  align-content: stretch;
}
.wrapper {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  @media (max-width: 768px) {
    height: 100%;
    padding-top: 47px;
    padding-bottom: 72px;
  }
}
.main-menu {
  color: white;
  background: $main-pink;
  width: 280px;
  height: 100vh;
  position: relative;
  // Menu Link
  & .menu-link {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    cursor: pointer;
    // Over and active behaviour
    &.active,
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
    // Icon size
    &>img {
      width: 24px;
    }
  }
  // Menu title
  &>.title {
    text-align: center;
    color: white;
  }
  @media (max-width: 768px) {
    position: fixed;
    z-index: 999;
    width: 0;
    background: none;
    &>.title {
      background: $main-pink;
      margin: 0;
      width: 100vw;
    }
    &>.menu-nav {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100vw;
      background: $main-pink;
      & .menu-link {
        flex: 1;
        display: flex;
        justify-content: center;
      }
      & .menu-text {
        display: none;
      }
    }
  }
}
.menu-text {
  padding-left: 10px;
}