@import '../assets/styles/variables';
.flex-wrapper {
  display: flex;
  align-content: stretch;
}
.wrapper {
  flex: 1;
}
.main-menu {
  color: white;
  background: $main-pink;
  width: 280px;
  height: 100vh;
  // Menu Link
  &>.menu-link {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    cursor: pointer;
    // Over and active behaviour
    &.active,
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
    // Icon size
    &>img {
      width: 24px;
    }
  }
  // Menu title
  &>.title {
    text-align: center;
    color: white;
  }
}
.menu-text {
  padding-left: 10px;
}
.fab {
  background: $main-pink;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 9999;
  transition: transform 0.4s;
  &:hover {
    transform: scale(1.2);
  }
  &>img {
    width: 22px;
  }
  &.active {
    display: none;
  }
}