@import '../assets/styles/variables';
.flex-wrapper {
  display: flex;
  align-content: stretch;
}
.wrapper {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
}
.main-menu {
  color: white;
  background: $main-pink;
  width: 280px;
  height: 100vh;
  // Menu Link
  &>.menu-link {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    cursor: pointer;
    // Over and active behaviour
    &.active,
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
    // Icon size
    &>img {
      width: 24px;
    }
  }
  // Menu title
  &>.title {
    text-align: center;
    color: white;
  }
}
.menu-text {
  padding-left: 10px;
}