.container {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
}
.header {
  display: flex;
  flex-wrap: wrap;
}
.info {
  flex: 1;
  & .title {
    margin-top: 0;
  }
}
.picture {
  margin-right: 20px;
  width: 200px;
  height: 200px;
  border: 10px solid;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
  &>img {
    width: 100%;
  }
}
.parents {
  & .card:hover {
    & .actions {
      display: none;
    }
  }
}
.parent-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  &>li {
    min-width: 200px;
    flex: 1;
    padding: 20px;
  }
}
.button {
  margin: 10px;
}