<div class="container">
  <app-return></app-return>
  <div class="header">
    <div class="picture" [style.border-color]="'#'+unicorn.color">
      <img src="../../assets/images/unicorn_head.png" alt="Unicorn profile picture">
    </div>
    <div class="info">
      <h1 class="title">{{unicorn.name}}
        <app-gender [gender]="unicorn.gender"></app-gender>
      </h1>
      <ul>
        <li>Age: {{unicorn.age}} rainbows</li>
        <li>Color: #{{unicorn.color}}</li>
      </ul>
    </div>
  </div>
  <div class="body">
    <div *ngIf="hasParents" class="parents">
      <h2 class="title">Parents</h2>
      <ul class="parent-list">
        <li *ngFor="let parent of parents">
          <app-card [unicorn]="parent"></app-card>
        </li>
      </ul>
    </div>
  </div>
</div>