<div class="container">
  <app-return></app-return>
  <div class="header">
    <div class="picture" [style.border-color]="'#'+unicorn.color">
      <img src="../../assets/images/unicorn_head.png" alt="Unicorn profile picture">
    </div>
    <div class="info">
      <h1 class="title">{{unicorn.name}}
        <app-gender [gender]="unicorn.gender"></app-gender>
      </h1>
      <ul>
        <li>{{unicorn.age}} yo</li>
        <li>Color: #{{unicorn.color}}</li>
      </ul>
    </div>
  </div>
</div>