/* You can add global styles to this file, and also import other style files */

@import './assets/styles/_variables.scss';
html {
  font-size: 10px;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  color: $dark;
  font-family: $main-font;
  font-size: 1.8rem;
}
a {
  color: inherit;
  text-decoration: none;
}
.title {
  color: $main-pink;
  font-family: 'Pacifico';
}
.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  background: $light;
  transition: background 0.4s;
  cursor: pointer;
}
.button:hover {
  background: $main-pink;
  color: white;
}
.head-title {
  padding-left: 20px;
  margin-bottom: 0;
  font-size: 2.5rem;
}
.fab {
  background: $main-pink;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 9999;
  transition: transform 0.4s;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
  &>img {
    width: 22px;
  }
  &.active {
    display: none;
  }
}