.unicorn-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  &>li {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    @media (max-width: 736px) {
      width: 100%;
    }
    @media (min-width: 737px) and (max-width: 960px) {
      width: 50%;
    }
  }
}