@import url('https://fonts.googleapis.com/css?family=Montserrat|Pacifico');
$main-font: 'Montserrat',
Helvetica,
sans-serif;
$secondary-font: 'Pacifico',
Helvetica,
sans-serif;
$main-pink: #f021ff;
$dark: #303030;
$light: #EEEEEE;
$lighter: #fafafa;
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}