@import '../../assets/styles/variables';
.template-wrap {
  position: relative;
}
.container {
  display: flex;
  flex-wrap: wrap;
  &>div {
    flex: 1;
    min-width: 200px;
    position: relative;
    text-align: center;
    padding: 30px 10px;
    &>select {
      margin-bottom: 20px;
    }
  }
}
.mate-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  &:hover>img {
    animation: heartbeat 1.2s infinite;
  }
  &>img {
    width: 80px;
  }
  &:after {
    content: "Mate";
    font-family: $secondary-font;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -24px);
    color: white;
  }
}
.wrap {
  padding: 0 20px;
}
.title.love-in-air {
  text-align: center;
}